
@{
    ViewData["Title"] = "Index";
}

<div style="position: relative; left: 0; top: 0; width: 100%; height: 100%; ">
    <img src="~/admin/images/intro-bg.jpg" alt="image" style="position: relative; top: 0; left: 0; width: 100%; height: 100%; padding: 0; margin: 0" />
    <div style="position: absolute; text-align: center; background: rgba(0,0,0,0.4); top: 0; left: 0; width: 100%; height: 100%; ">
    @*<p style=" margin-top: 20%; font-family: 'Dancing Script', cursive; color: #fff; font-size: 10em; font-weight: 700; top: 50%">Taste</p>*@
    <p style=" margin-top: 20%; font-family: 'Dancing Script', cursive; color: #fff; font-size: 10em; font-weight: 700; top: 50%">Admin</p>
    </div>
</div>